*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html{
    height: 100%;
}

body {
    cursor: pointer;
    min-height: 100%;
}

.game{
    position: absolute;
    width: 500px;
    height: 200px;
    top: 30px;
    border: 1px solid black;
    margin: auto;
}

@media screen and (max-width: 780px) {
    .game{
        width: 100%;
    }
  }

@media screen and (min-width: 780px){
    .game{
        left: 35%;
    }
}

#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
    left: 5px;
    border-radius: 10px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    40%{top: 100px}
    50%{top: 70}
    60%{top: 100px}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    position: absolute;
    left: 48%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}